@charset "utf-8";

*,
*:before,
*::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

a,
a:link{
    text-decoration: none;
    color:inherit;
}

ul,ol,li{
    margin:0;
    padding:0;
    list-style: none;
}